/* Sass correspondiente a apartado contacto */




.contenido {
    .flex_contacto {
        display: grid;
        grid-template-columns: 50% 50%;
        
        .formulario {
            width: 100%;
            padding-left: 5%;
            padding-right: 5%;
            padding-top: 0%;
            display: flex;
            flex-direction: column;
            
            .divFormUno {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                & input {
                    width: 100%;
                    height: 40px;
                    border-radius: 5px;
                }
            }
            .divFormDos {
                textarea {
                    width: 100%;
                    border-radius: 10px;
                }
            }
            .botonEnviar {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 10px;
                & input {
                    width: 100%;
                    height: 40px;
                    border-radius: 5px;
                    color: white;
                    background-color: green;
                    &:hover {
                        background-color: rgb(40, 66, 2);
                        transition: 0.3s;
                    }
                }
            }

        }
        .ubicacion {
            display: flex;
            justify-content: center;
            padding-top: 7%;
            padding-left: 2%;
            padding-right: 2%;
            padding-bottom: 3%;
            height: 700px;
        }
    }
    .formulario {
        padding-top: 0%;
        display: grid;
        grid-template-columns: 80%;
        justify-content: center;
        align-items: center;
        padding-left: 0%;
        margin-right: 30px;
        
        .divFormUno {
            width: 100%;
            height: auto;
            & input {
                width: 250px;
                height: 25px;
            }
        }
        .divFormDos textarea {
            width: 100%;
            padding-left: 5%;
        }  
        .botonEnviar {
            display: flex;
            justify-items: flex-end;
            width: 100%;
            & input {
                display: flex;
                justify-items: center;
                width: 250px;
                justify-content: center;
            }
        }

    }
    
    @media screen and (max-width: 990px) {
        .flex_contacto {
            display: flex;
            flex-direction: column;
            /* grid-template-columns: 100%; */
            gap: 30px;
            .divFormDos{
                width: 100%;
            }
            .ubicacion {
                width: auto;
                height: 450px;
            }
        }
    }
}





    

